<%- include('./partials/header.ejs') %>
<h2>Welcome Book Lovers!</h2><br />
<p>Please make yourself at home. Make a mug of tea, pull up a chair, pick up a book...and enjoy your day.</p>
<p>If you would like to keep track of your book collection, please head to the <a class='link-secondary' href='/books'>Index page</a> of the app to get started.</p>
<%- include('./partials/footer.ejs') %>