<%- include('./partials/header.ejs') %>
<h2>Welcome Book Lovers!</h2><br />
<img id='bookshelf' src='/images/bookshelf.png'>
<p>Please make yourself at home. Make a mug of tea, pull up a chair, and pick up a book.</p>
<p> Looking for your new favourite book? We're here to help!
<br />Users from all over the world are able to add their books to this app, so there are lots of books to go through! Just remember you need to register in order to add books, or edit and delete them. </p>
<p id='enterBook'>So, speak Friend...and Enter... </p>
<a id='enterBook' href='/books'><img id='door' src='/images/door.png'></a>
<%- include('./partials/footer.ejs') %>