<%- include('./partials/header.ejs') %>
<h1>Book Index</h1>
<% for (let i = 0; i < books.length; i++) { %>
    <div class='book'>
        <h5><%= books[i].name %></h5>
        <p>by: <%= books[i].author %></p>
    </div>
<% } %>
<%- include('./partials/footer.ejs') %>