<%- include('./partials/header.ejs') %>
<h1>Add a Book</h1>
<div class='newformdiv'>
<form action='/books' method='POST'>
    <label id='value'>Title:</label> <input type='text' id='title' name='title' />*<br />
    <label id='value'>First Name:</label> <input type='text' id='authorFirst' name='authorFirst' />*<br />
    <label id='value'>Last Name:</label> <input type='text' id='authorLast' name='authorLast' />*<br />
    <label id='value'>Series:</label> <input type='text' id='series' name='series' /><br />
    <label id='value'>Cover:</label> <input type='text' id='cover' name='cover' /><br />
    <label id='value'>Genre:</label> <input type='text' id='genre' name='genre' /><br />
    <label id='value'>Tags:</label> <input type='text' id='tags' name='tags' value='None' /><br />
    <label id='value'>Rating:</label> <input type='text' id='rating' name='rating' /><br />
    <label id='value'>Notes:</label> <input type='datafield' id='notes' name='notes' /><br />
    <label id='value'>ISBN:</label> <input type='ISBN' id='ISBN' name='ISBN' /><br />
    <label id='value'>Read?:</label> <input type='checkbox' id='read' name='read' /><br /><br />
    <input id='button' class='btn btn-dark' type='submit' value='Add'>
</form>
<p><small>* are required fields</small></p>
</div>


<%- include('./partials/footer.ejs') %>