@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

#enterBook {
    margin-left: 175px;
}
header {
    overflow: hidden;
    padding-bottom: 20px;
}
header img {
    margin-left: 50%;
    transform: translateX(-50%);
}
#bookshelf {
    float: right;
    width: 275px;
}
body {
    background: url('/images/bookpages2.png'); 
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0 25px 25px 25px;
}
.override {
    font-family: 'Open Sans Condensed', sans-serif;
}
#regButton {
    float: right;
    margin-right: 20px;
    width: 80px;
}
p {
    font-size: 1.3em;
}
#views {
    padding-top: 10px;
}
.book {
    width: 150px;
    display: inline-block;
    vertical-align: text-top;
}
.bookpic {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
div {
    display: inline-block;
}
#value {
    width: 77px;
}
.container {
  display: flex; 
  position: fixed; 
  left: 50px;
} 
.containerimage {
    margin: 5px 40px 0 0;
    width: 175px;
}
.containertext {
    margin-right: 20px;
    min-width: 350px;
}
.containerbuttons {
    margin: 5px 40px 0 0;
    width: 200px;
}
label {
    width: 65px;
    float: left;
}  
input {
    width: 250px;
}
#button {
    width: 85px;
}